.navigation_list {
    display: grid;
    grid-template-columns: 200 px 200px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat;
    grid-gap: 20px 
}
.navigation__items {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;   
    
}
.navigation__itemsBikes {
    color: black;  
    transition: 0.5s;
    text-decoration: none;
}
.navigation__itemsBikes:hover {
        font-size: larger;
        transform: scale(1.5);
        background-color: rgb(207, 202, 202);
        border-radius: 30%;
}
