html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body { 
    max-width: 1000px;
    padding: 20px;
    margin: 50px auto 100px;
    background-color: white;
    text-align: center;
}

